  <div class="background">
  <div class = "top">
  <div id="heading" class="headline">
    Book flights online  
  </div>    
  <div class="log" ng-style="startCtrl.startService.loggedInButton()">          
          <a ui-sref="profile ({username: startCtrl.profileService.userProfile.username})">My profile |</a>
           <a ui-sref="booking" >Book a Flight |</a>
          <a ng-click="startCtrl.startService.logOut()">Log out</a>
          <div>
        <a class="please" ng-style="startCtrl.startService.changePage()">Please</a>
        <a ui-sref="login" ng-style="startCtrl.startService.changePage()">log In</a>
       <a class="please" ng-style="startCtrl.startService.changePage()">to find a flight. Don't have an account yet? Please</a>
        <a ui-sref="registration" ng-style="startCtrl.startService.changePage()">sign Up</a>
       </div>
       
      </div>   
</div>
		<div class = "table">
		<div class = "tableHead">
		<div>Origin</div>
		<div>Destination</div>
		<div>Time in the air</div>
      <div>Offset</div>
      </div>
      <div class = "flightsContainer"ng-repeat= "flight  in startCtrl.startService.flightsOffered">
       <div> {{flight.origin}}
       </div>
       <div> {{flight.destination}} </div>
       <div> {{flight.flightTime}} hours</div>
       <div> {{flight.offset}} hours</div>
      
       </div>
     </div>
 </div>