<div>
  <div id="heading" class="headline">
    Book flights online  
  </div>  
  <div class="logged" ng-style="startCtrl.startService.loggedInButton()">          
          <a ui-sref="profile ({username: startCtrl.profileService.userProfile.username})">My profile |</a>
          <a ng-click="startCtrl.startService.logOut()">Log out</a>

        <a ui-sref="registration" ng-style="startCtrl.startService.changePage()">Sign Up |</a>
        <a ui-sref="login" ng-style="startCtrl.startService.changePage()">Log In</a>
       
      </div>
      <div class="flightsContainer" ng-repeat= "flight  in startCtrl.startService.flightsOffered">      
       <div> {{flight.origin}} - {{flight.destination}} </div>
       <div> Time in the air: {{flight.flightTime}} hours</div>
       <div> Offset: {{flight.offset}} hours</div>
      
       
     </div>
    
    </div>
 